<mat-sidenav-container class="sidenav-custom">
    <mat-sidenav #sidenav position="end" disableClose="true">
        <mat-toolbar>
            <h2 *ngIf="!hotel.id">Adicionar Hotel</h2>
            <h2 *ngIf="hotel.id">Alterar Hotel</h2>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.close()">
                <mat-icon>close</mat-icon> 
            </button>
        </mat-toolbar>

        <div class="formulario">

            <mat-form-field class="full-width">
                <input matInput placeholder="Valor" [(ngModel)]="hotel.valor">
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput placeholder="Checkin" [(ngModel)]="hotel.checkin"></textarea>                
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput placeholder="Checkout" [(ngModel)]="hotel.checkout"></textarea>                
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Valor" [(ngModel)]="hotel.valor">
            </mat-form-field>
            
        </div>

        <mat-toolbar>
            <span class="spacer"></span>
            <button mat-button (click)="sidenav.close()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-card>
            <mat-card-title>
                <mat-toolbar color="primary">
                    <h3>Cadastro de Hotel</h3>
                    <span class="spacer"></span>

                    <button mat-icon-button (click)="adicionar()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-toolbar>

                <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
            </mat-card-title>

            <mat-card-content>
                <table mat-table [dataSource]="hotels" *ngIf="!errorMessage">

                    <!-- CHECKIN -->
                    <ng-container matColumnDef="checkin">
                        <th mat-header-cell *matHeaderCellDef>Checkin</th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.checkin}} </td>
                    </ng-container>

                    <!-- CHECKOUT -->
                    <ng-container matColumnDef="checkout">
                        <th mat-header-cell *matHeaderCellDef>Checkout</th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.checkout}} </td>
                    </ng-container>

                    <!-- VALOR -->
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef>Valor</th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.valor | currency: 'BRL'}} </td>
                    </ng-container>

                    <!-- OPTIONS -->
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let hotel">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editar(hotel)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Alterar</span>
                                </button>
                                <button mat-menu-item (click)="excluir(hotel)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="panel-error" *ngIf="errorMessage">
                    <h1 class="mat-h1">Ocorreu um erro!</h1>
                    <p class="mat-caption">{{ errorMessage }}</p>
                    <button mat-button color="warn" (click)="ngOnInit()">Tentar Novamente</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
